Repository d4l-data4life/hc-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
library:
  - sdk-android/**/*
  - sdk-android-test/**/*
  - sdk-core/**/*
  - sdk-ingestion/**/*
  - sdk-jvm/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

RecordServiceAdditionalResourceTypeTest.java -> RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
Labels: library

Factor Upload/Download/Update Tests out
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
Labels: library

TaggingService.java -> TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.java
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.kt
Labels: library

TaggingServiceTest.java -> TaggingServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/TaggingServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/TaggingServiceTest.kt
Labels: library

Merge update and create Record methods
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Merge fetchRecord(s)
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Clean up
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
Labels: library

Apply fixes && clean up after Rebase
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/TagEncryptionServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordTest.kt
Labels: library

Wire up arbitrary data & annotations support into Client
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sample-android/src/main/res/layout/activity_documents.xml
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedAppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
Labels: library, sample-android

Docs & final adjustments
  CHANGELOG.adoc
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sdk-core/src/docs/asciidoc/api.adoc
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
Labels: documentation, library, sample-android

First review
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/AppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedAppDataRecord.kt
Labels: library

Reapply CodeStyle
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/AppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/EmptyRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordTypes.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedAppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/TagEncryptionServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/TaggingServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/AppDataRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/DecryptedAppDataRecordTest.kt
Labels: library, sample-android

Deprecate EmptyRecord & Remove internal Depentendencies & Forgotten Formattings
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-core/src/main/java/care/data4life/sdk/model/AppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/EmptyRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedAppDataRecord.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Make changes according to review 2nd
  CHANGELOG.adoc
  sdk-core/src/docs/asciidoc/api.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/TagEncryptionServiceTest.kt
Labels: documentation, library

Corrected DecryptedAppDataRecordTest
  sdk-core/src/test/java/care/data4life/sdk/network/model/DecryptedAppDataRecordTest.kt
Labels: library

Reformat TaggingService
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.kt
Labels: library

Rephrase tests
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/AppDataRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/DecryptedAppDataRecordTest.kt
Labels: library

Rephrase RecordServiceCreateRecordTest tests
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
Labels: library

Change TagHelper to Kotlin
  sdk-core/src/main/java/care/data4life/sdk/tags/TagHelper.java
  sdk-core/src/main/java/care/data4life/sdk/tags/TagHelper.kt
Labels: library

Change FileService to Kotlin
  sdk-core/src/main/java/care/data4life/sdk/FileService.java
  sdk-core/src/main/java/care/data4life/sdk/FileService.kt
Labels: library

Change ImageResizer to Kotlin
  sdk-core/src/main/java/care/data4life/sdk/ImageResizer.kt
Labels: library

Change FhirService to Kotlin
  sdk-core/src/main/java/care/data4life/sdk/FhirService.java
  sdk-core/src/main/java/care/data4life/sdk/FhirService.kt
Labels: library

Change CryptoService to Kotlin and remove null check tests from CryptoServiceTest
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.java
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/test/java/care/data4life/sdk/CryptoServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/UserServiceTest.java
Labels: library

Add changelog entry
  CHANGELOG.adoc
Labels: documentation

Change NetworkConnectivityService to Kotlin
  sdk-core/src/main/java/care/data4life/sdk/NetworkConnectivityService.kt
Labels: library

Fix FileService nullable types
  sdk-core/src/main/java/care/data4life/sdk/FileService.kt
  sdk-core/src/test/java/care/data4life/sdk/FileServiceTest.java
Labels: library

Change nullability to match CryptoService and RecordService changes
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/crypto/CommonKeyService.kt
Labels: library

Fix test phrases
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/AppDataRecordTest.kt
Labels: library

Remove fhirResource from Record
  sdk-core/src/main/java/care/data4life/sdk/model/Record.kt
Labels: library

Change implementation according code review
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/FileService.kt
  sdk-core/src/main/java/care/data4life/sdk/tags/TagHelper.kt
Labels: library

Change DecryptedFhirRecord to DecryptedFhir3Record and introduce new DecryptedFhirBaseRecord for attachments key
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Add Fhir3Resource and Fhir4Resource as typealias and change DomainResource to Fhir3Resource
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirResource.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordTypes.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
Labels: library

Change FhirService to be located in fhir package
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/test/java/care/data4life/sdk/FhirServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library

Introduce DecryptedRecordBuilder
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilderImpl.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/DecryptedRecordBuilder.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderOptionalSettersCustomTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderOptionalSettersFhirTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTestBase.kt
Labels: library

Add mandatory setters
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilderImpl.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderMandatorySettersCustomTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderMandatorySettersFhirTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderOptionalSettersCustomTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTest.kt
Labels: library

Add tags & dataKey getter to DecryptedRecordBuilder
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilderImpl.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/DecryptedRecordBuilder.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTest.kt
Labels: library

Wire RecordBuilder in RecordService#createRecord
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/TaggingServiceTest.kt
Labels: library

Make DecryptedRecordBuilder#build agnostic
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilderImpl.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/DecryptedRecordBuilder.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderMandatorySettersCustomTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderMandatorySettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderOptionalSettersCustomTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderOptionalSettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTest.kt
Labels: library

Merge RecordService#createNewDecryptedRecord
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
Labels: library

Wire RecordBuilder in RecordService#decryptRecord
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library
