Repository d4l-data4life/hc-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-jvm

Unlock ignored RecordServiceCrypto tests
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Cleanup RecordBuilder
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilder.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTest.kt
Labels: library

Unlock ignored RecordServiceAdditionalResourceTypeTest and Fixes
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Add Entrypoint tests for fetch
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
Labels: library

Add tests for updateResourceIdentifier
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
Labels: library

Unlock Record upload/download/update tests
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/IdentifierFactoryTest.kt
Labels: library

Add integration test for createRecord & apply fixes
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/SdkRecordFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirElementFactory.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirElementFactoryTest.kt
Labels: library

Add integration test for updateRecord & apply fixes
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegrationBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
Labels: library

Add Integration tests for RecordService#fetch & alignments
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
Labels: library

Refactor Integration tests
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
Labels: library

Extend fetchRecord(s) Integration tests & Fixes
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
Labels: library

Cleanups
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
Labels: library

Add leftover integration tests & and apply fixes
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
Labels: library

Fixed latest version ci job
  .github/workflows/d4l-ci-latest-version.yml
Labels: build

Fix latest version ci job
  .github/workflows/d4l-ci-latest-version.yml
Labels: build

Rename CompatibilityValidator & cleanups
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/CompatibilityValidator.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirAttachmentHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/LegacyDateValidationTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir4AttachmentTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir4IdentifierTest.kt
Labels: library

LegacyDateValidationTest -> CompatibilityValidatorTest
  sdk-core/src/test/java/care/data4life/sdk/attachment/CompatibilityValidatorTest.kt
Labels: library

Fix typo
  sdk-core/src/main/java/care/data4life/sdk/attachment/CompatibilityValidator.kt
Labels: library

DecryptedRecordBuilder -> DecryptedRecordMapper
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordMapper.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperMandatorySettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperOptionalSettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperTestBase.kt
Labels: library

Remove FHIR_VERSION from ModelVersion
  sdk-core/src/main/java/care/data4life/sdk/model/ModelVersion.java
Labels: library

SdkRecordFactory -> RecordMapper
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/RecordMapper.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordMapperTest.kt
Labels: library

Add FHIR 4 to changelog
  CHANGELOG.adoc
Labels: documentation

Pepare release of 1.9.0 Release Candidate 1
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/LibraryConfig.kt
Labels: dependencies, documentation

Fix release ci job
  .github/workflows/d4l-ci-publish-release.yml
Labels: build

Prepare release 1.9.0
  CHANGELOG.adoc
Labels: documentation

Fix CI release job
  .github/workflows/d4l-ci-publish-release.yml
Labels: build

Add hard coded version 1.9.0
  build.gradle.kts
  buildSrc/src/main/kotlin/LibraryConfig.kt
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies

Add git version
  build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
  gradle/versioning.gradle.kts
Labels: dependencies

Change publishing to be a precompiled script instead of bloated code in the root build.gradle.kts file
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
Labels: dependencies

Change CI jobs to use versionInfo
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Cleanup
  gradle/versioning.gradle.kts
Labels: none

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
library:
  - sdk-android/**/*
  - sdk-android-test/**/*
  - sdk-core/**/*
  - sdk-ingestion/**/*
  - sdk-jvm/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*
