Repository d4l-data4life/hc-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, android, jvm, ingestion, core, auth, crypto, sample-android, sample-jvm

Bump Android Gradle Plugin 7.1.3 -> 7.3.0-beta02
  CHANGELOG.adoc
  gradlePlugin/core-dependency/settings.gradle.kts
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump dependencies
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Remove jApiCmp as it is not needed anymore
  CHANGELOG.adoc
  buildSrc/build.gradle.kts
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/GradlePlugin.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
  sdk-android/build.gradle.kts
Labels: dependencies, documentation, android

Remove version from included builds
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
  settings.gradle.kts
Labels: none

Bump Spotless Gradle plugin 6.4.2 -> 6.5.1 and ktlint 0.44.0 -> 0.45.2
  CHANGELOG.adoc
  buildSrc/build.gradle.kts
Labels: dependencies, documentation

Change gradle.properties to allow 4GB memory usage and remove outdated configuration
  gradle.properties
Labels: none

Remove manifest placeholders
  sdk-android/build.gradle.kts
Labels: android

Change auth implementation
  sample-android/src/main/java/care/data4life/sample/MainActivity.java
  sdk-android-test/src/main/java/care/data4life/sdk/e2e/CrossSDKActivity.java
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: android, sample-android

Fix Android client
  sdk-android/src/main/java/care/data4life/sdk/AndroidImageResizer.java
  sdk-android/src/main/java/care/data4life/sdk/AndroidImageResizer.kt
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.kt
  sdk-android/src/main/java/care/data4life/sdk/InitializationConfig.java
  sdk-android/src/main/java/care/data4life/sdk/InitializationConfig.kt
  sdk-android/src/main/java/care/data4life/sdk/NetworkConnectivityServiceAndroid.java
  sdk-android/src/main/java/care/data4life/sdk/NetworkConnectivityServiceAndroid.kt
  sdk-android/src/main/java/care/data4life/sdk/SdkConfig.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
Labels: android, core

Fix publishing
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Bump HC-Auth-SDK 1.15.0 -> 1.15.0-fix-auth-SNAPSHOT
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Fix publishing 2
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  buildSrc/src/main/kotlin/care/data4life/gradle/core/script/publishing.gradle.kts
Labels: build, scripts, dependencies

Bump Android Gradle plugin 7.3.0-beta02 -> 7.3.0-beta03
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Fix Java client
  sdk-android/src/main/kotlin/care/data4life/sdk/AndroidImageResizer.kt
  sdk-android/src/main/kotlin/care/data4life/sdk/Data4LifeClient.kt
  sdk-android/src/main/kotlin/care/data4life/sdk/InitializationConfig.kt
  sdk-android/src/main/kotlin/care/data4life/sdk/NetworkConnectivityServiceAndroid.kt
  sdk-android/src/main/kotlin/care/data4life/sdk/SdkConfig.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkImageResizer.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/UrlEncoding.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/SdkImageResizerTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/UrlEncodingTest.kt
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/JvmImageResizer.java
  sdk-jvm/src/main/java/care/data4life/sdk/UserIdExtractor.java
  sdk-jvm/src/main/kotlin/care/data4life/sdk/Data4LifeClient.kt
  sdk-jvm/src/main/kotlin/care/data4life/sdk/JvmImageResizer.kt
  sdk-jvm/src/main/kotlin/care/data4life/sdk/UrlDecoder.kt
  sdk-jvm/src/main/kotlin/care/data4life/sdk/UserIdExtractor.kt
Labels: android, jvm, core

Remove compatibility base
  buildSrc/src/main/kotlin/care/data4life/gradle/core/config/LibraryConfig.kt
  sdk-android/build.gradle.kts
Labels: dependencies, android

Fix sample client
  sample-android/src/main/java/care/data4life/sample/MainActivity.java
  sample-android/src/main/java/care/data4life/sample/SampleApplication.kt
  sdk-android/src/main/kotlin/care/data4life/sdk/AndroidImageResizer.kt
  sdk-android/src/main/kotlin/care/data4life/sdk/Data4LifeClient.kt
  sdk-android/src/main/kotlin/care/data4life/sdk/InitializationConfig.kt
  sdk-android/src/main/kotlin/care/data4life/sdk/NetworkConnectivityServiceAndroid.kt
  sdk-jvm/src/main/kotlin/care/data4life/sdk/JvmImageResizer.kt
Labels: android, jvm, sample-android

Fix test configuration
  buildSrc/src/main/kotlin/care/data4life/gradle/core/config/D4LClientConfig.kt
  sdk-android/build.gradle.kts
Labels: dependencies, android

Fix tests
  sample-android/src/main/java/care/data4life/sample/AttachmentPreviewActivity.java
  sample-android/src/main/java/care/data4life/sample/DocumentDetailsActivity.java
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/presentation/BaseView.kt
  sdk-android-test/src/main/java/care/data4life/sdk/e2e/CrossSDKActivity.java
  sdk-android/src/androidTest/AndroidManifest.xml
  sdk-android/src/main/kotlin/care/data4life/sdk/Data4LifeClient.kt
  sdk-android/src/test/java/care/data4life/sdk/Data4LifeClientTest.kt
  sdk-jvm/build.gradle.kts
  sdk-jvm/src/main/kotlin/care/data4life/sdk/Data4LifeClient.kt
  sdk-jvm/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
  sdk-jvm/src/test/java/care/data4life/sdk/UserIdExtractorTest.java
Labels: android, jvm, sample-android, sample-jvm

Add ScribeJava to Java client
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
  sdk-jvm/build.gradle.kts
Labels: documentation, jvm

Cleanup
  sample-android/src/main/java/care/data4life/sample/CRUDBenchmark.java
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFake.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/JSLegacyTagConverter.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/TestResourceHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirAttachmentHelperTest.kt
  sdk-ingestion/build.gradle.kts
  sdk-ingestion/src/main/java/care/data4life/sdk/JvmImageResizer.java
  sdk-ingestion/src/main/java/care/data4life/sdk/JvmImageResizer.kt
Labels: ingestion, core, sample-android

Downgrade Android Gradle plugin 7.3.0-beta03 -> 7.3.0-beta02
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump AndoridX AppCompat 1.4.1 -> 1.4.2
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Cleanup
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirAttachmentHelperTest.kt
  sdk-ingestion/build.gradle.kts
  sdk-jvm/build.gradle.kts
  sdk-jvm/src/main/kotlin/care/data4life/sdk/UserIdExtractor.kt
Labels: jvm, ingestion, core

Change dependency declaration
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
  sample-android/build.gradle.kts
  sample-jvm/build.gradle.kts
  sdk-android-test/build.gradle.kts
  sdk-android/build.gradle.kts
  sdk-core/build.gradle.kts
  sdk-ingestion/build.gradle.kts
  sdk-jvm/build.gradle.kts
Labels: android, jvm, ingestion, core, sample-android, sample-jvm

Add Kotlin Serialization 1.3.3
  CHANGELOG.adoc
  buildSrc/build.gradle.kts
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/GradlePlugin.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
  sample-jvm/build.gradle.kts
  sdk-android/build.gradle.kts
Labels: dependencies, documentation, android, sample-jvm

Fix dependency scope
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
  sdk-android/build.gradle.kts
  sdk-core/build.gradle.kts
  sdk-ingestion/src/main/java/care/data4life/sdk/JvmImageResizer.kt
  sdk-jvm/src/main/kotlin/care/data4life/sdk/JvmImageResizer.kt
Labels: android, jvm, ingestion, core

Remove sdk-android-test as this test will be done in the integration project
  sdk-android-test/build.gradle.kts
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/BaseTestLogin.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/CrossSDKTest.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/page/BasePage.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/page/HomePage.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/page/LoginPage.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/util/Auth2FAHelper.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/util/NetworkUtil.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/util/TestConfig.kt
  sdk-android-test/src/main/AndroidManifest.xml
  sdk-android-test/src/main/java/care/data4life/sdk/e2e/CrossSDKActivity.java
  sdk-android-test/src/main/res/layout/d4l_sdk_activity_cross_sdk.xml
  sdk-android-test/src/main/res/values/colors.xml
  sdk-android-test/src/main/res/values/strings.xml
  sdk-android-test/src/main/res/values/styles.xml
  settings.gradle.kts
Labels: android

Change dependency scope
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  sample-android/build.gradle.kts
  sample-jvm/build.gradle.kts
  sdk-android/build.gradle.kts
  sdk-core/build.gradle.kts
  sdk-ingestion/build.gradle.kts
  sdk-ingestion/src/main/java/care/data4life/sdk/JvmImageResizer.kt
  sdk-jvm/build.gradle.kts
Labels: android, jvm, ingestion, core, sample-android, sample-jvm

Add Ktor 2.0.2
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
  sdk-core/build.gradle.kts
Labels: documentation, core

Change client to legacy
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingInternalContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/ClientFactory.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/ClientFactoryTest.kt
Labels: core

Change Network Clients to Client
  sdk-android/src/main/kotlin/care/data4life/sdk/Data4LifeClient.kt
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingInternalContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/ClientFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/VersionInterceptor.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/ClientFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/VersionInterceptorTest.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/kotlin/care/data4life/sdk/Data4LifeClient.kt
Labels: android, jvm, ingestion, core

Fix dependency scope
  sdk-android/build.gradle.kts
Labels: android

Fix to harsh timeout settings
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
Labels: core

Fix timeouts
  sdk-core/src/test/java/care/data4life/sdk/network/util/ClientFactoryTest.kt
Labels: core

Fix FhirAttachmentHelperTest
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirAttachmentHelperTest.kt
Labels: core

Enable jetifier because of pdfview used for sample app
  gradle.properties
Labels: none

Change Android target SDK 31 -> 32
  CHANGELOG.adoc
  README.adoc
  buildSrc/src/main/kotlin/care/data4life/gradle/core/config/LibraryConfig.kt
Labels: dependencies, documentation

Bump HC Auth SDK 1.15.0-fix-auth-SNAPSHOT -> 1.16.0
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump Android Gradle Plugin 7.1.3 -> 7.2.0
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Add changelog entries
  CHANGELOG.adoc
Labels: documentation

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/care/data4life/gradle/core/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# SDK Clients
android:
  - sdk-android/**/*
  - sdk-android-test/**/*
jvm:
  - sdk-jvm/**/*
ingestion:
  - sdk-ingestion/**/*

# SDKs
core:
  - sdk-core/**/*
auth:
  - auth-android/**/*
  - auth-common/**/*
  - auth-jvm/**/*
crypto:
  - crypto-android/**/*
  - crypto-common/**/*
  - crypto-jvm/**/*

# Sample Apps
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*
