Repository d4l-data4life/hc-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, android, jvm, ingestion, core, auth, crypto, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/care/data4life/gradle/core/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# SDK Clients
android:
  - sdk-android/**/*
  - sdk-android-test/**/*
jvm:
  - sdk-jvm/**/*
ingestion:
  - sdk-ingestion/**/*

# SDKs
core:
  - sdk-core/**/*
auth:
  - auth-android/**/*
  - auth-common/**/*
  - auth-jvm/**/*
crypto:
  - crypto-android/**/*
  - crypto-common/**/*
  - crypto-jvm/**/*

# Sample Apps
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

Fix CI setup
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Change pull validation action
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Roll back
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Change pull request action
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Adjust Arch
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Change circus hook
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Ease Hook setup
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Remove hook
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Reset hook
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Stub Android action
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Enable Emulator
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Change upload token
  buildSrc/src/main/kotlin/care/data4life/gradle/core/script/publishing.gradle.kts
Labels: scripts, dependencies

Add test config
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Clean up
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Change token
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Rollback token
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Change documentation to reflect latest changes and sync with default template
  DEVELOPING.adoc
  README.adoc
Labels: documentation

Add corrections
  README.adoc
Labels: documentation

Remove unused dependency of AppAuth fork
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Repository.kt
Labels: none

Remove outdated docs
  docs/1.7.0/images/pin-code-grant.png
  docs/1.7.0/images/pin-code-grant.svg
  docs/1.7.0/index.html
  docs/1.7.0/styles/asciidoctor.css
Labels: documentation

Remove outdated sdk-doc
  sdk-android/src/docs/asciidoc/index.adoc
  sdk-android/src/docs/asciidoc/quickstart.adoc
  sdk-core/src/docs/asciidoc/api.adoc
  sdk-core/src/docs/asciidoc/concepts.adoc
  sdk-core/src/docs/asciidoc/exceptions.adoc
  sdk-core/src/docs/asciidoc/index.adoc
  sdk-doc/.gitignore
  sdk-doc/build.gradle
  sdk-doc/src/docs/asciidoc/images/pin-code-grant.png
  sdk-doc/src/docs/asciidoc/images/pin-code-grant.svg
  sdk-doc/src/docs/asciidoc/index.adoc
  sdk-doc/src/docs/asciidoc/index.html
  sdk-jvm/src/docs/asciidoc/index.adoc
  sdk-jvm/src/docs/asciidoc/quickstart.adoc
  settings.gradle.kts
Labels: documentation, android, jvm, core

Add more details about multi versus single user usage of the Java SDK
  README.adoc
Labels: documentation

Add latest documentation
  docs/01_sdk_setup.adoc
  docs/02_sdk_concepts.adoc
  docs/03_sdk_models.adoc
  docs/04_sdk_auth.adoc
  docs/05_sdk_api.adoc
  docs/06_sdk_exceptions.adoc
Labels: documentation

Update source code highlights
  README.adoc
  docs/01_sdk_setup.adoc
Labels: documentation

Fix validation action
  .github/workflows/d4l-ci-pull-request-validation.yml
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Repository.kt
Labels: build

Add gradle cache and remove emulator skin
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Bump Gradle 6.9.1 -> 7.4.1
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: documentation

Fix issues from bumping Gradle
  gradle/deploy-java.gradle
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  settings.gradle.kts
Labels: core

Bump android emulator runner 2.20.0 -> 2.23.0
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Disable broken test
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
Labels: core

Fix code style
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
Labels: core

Change latest version and publish action to use cloud runner with Android emulator
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
Labels: build

Fix review comments
  DEVELOPING.adoc
Labels: none

Bump copyright year
  LICENSE
  README.adoc
Labels: documentation

Fix code review comments
  docs/02_sdk_concepts.adoc
  docs/03_sdk_models.adoc
  docs/04_sdk_auth.adoc
Labels: documentation

Fix code review findings
  DEVELOPING.adoc
  docs/02_sdk_concepts.adoc
  docs/03_sdk_models.adoc
  docs/04_sdk_auth.adoc
  docs/05_sdk_api.adoc
Labels: documentation

Fix spelling
  docs/05_sdk_api.adoc
Labels: documentation

Bump OkHttp 4.9.1 -> 4.9.3
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump ThreeTenBP 1.5.1 -> 1.6.0 and ThreeTenABP 1.3.1 -> 1.4.0 to use the latest timezone information
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump Gradle
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Labels: documentation
