Repository d4l-data4life/hc-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
library:
  - sdk-android/**/*
  - sdk-android-test/**/*
  - sdk-core/**/*
  - sdk-ingestion/**/*
  - sdk-jvm/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

Fix visibility issues related to new Kotlin Compiler 1.4.21
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/presentation/main/SingleMainView.kt
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/presentation/upload/UploadView.kt
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/AttachmentService.java
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/FileService.kt
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/UserService.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/OAuthService.kt
  sdk-core/src/main/java/care/data4life/sdk/crypto/CommonKeyService.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
Labels: library, sample-jvm

Add LimitGuard
  sdk-core/src/main/java/care/data4life/sdk/lang/DataValidationException.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecordGuard.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/LimitGuard.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/LimitGuardTest.kt
Labels: library

Hook in LimitGuard
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilderImpl.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/LimitGuard.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderMandatorySettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderOptionalSettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTestBase.kt
Labels: library

Add AuthContract and package, move AuthClient into new package, remove LegacyAuthClient
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-core/src/main/java/care/data4life/sdk/LegacyAuthClient.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-core/src/main/java/care/data4life/sdk/auth/AuthClient.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/AuthContract.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/OAuthService.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library

Remove OAuthService as it's redundant with AuthorizationService
  auth-common/src/main/kotlin/care/data4life/auth/AuthorizationContract.kt
  auth-jvm/src/main/java/care/data4life/auth/AuthorizationService.kt
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/UserService.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/OAuthService.kt
  sdk-core/src/test/java/care/data4life/sdk/ApiServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/UserServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/auth/AuthClientTest.kt
  sdk-core/src/test/java/care/data4life/sdk/auth/OAuthServiceTest.java
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library

Refactor RecordService
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedAppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/DecryptedAppDataRecordTest.kt
Labels: library

Fix RecordServiceTestBase by also resetting Mockito between test runs to avoid sideeffects
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Cleanup
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/presentation/main/SingleMainView.kt
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/EmptyRecord.kt
  sdk-ingestion/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
Labels: library, sample-jvm

Introduce RecordFactory
  sdk-core/src/main/java/care/data4life/sdk/model/SdkRecordFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordFactory.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordFactoryTest.kt
Labels: library

Wire RecordFactory in RecordService
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Refactor RecordService#removeOrRestoreUploadData
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Refactor RecordService#createRecord
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
Labels: library

Refactor RecordService#decryptRecord
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
Labels: library

Refactor RecordService#fetchRecords
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
Labels: library

Relocate Attachment handling in RecordService
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
Labels: library

Refactor RecordService#updateRecords
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Refactor RecordService auxiliary methods
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
Labels: library

Apply Formats
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/SdkRecordFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/DecryptedRecordBuilder.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
Labels: library

Introduce FhirElementFactory wrapper
  sdk-core/src/main/java/care/data4life/sdk/model/SdkFhirElementFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/FhirElementFactory.kt
  sdk-core/src/test/java/care/data4life/sdk/model/FhirElementFactoryTest.kt
Labels: library

Wire FhirElementFactory wrapper into RecordService
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
Labels: library

Change AttachmentService to Kotlin and add AttachmentContract with Service interface that is implemented by AttachmentService
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/AttachmentService.java
  sdk-core/src/main/java/care/data4life/sdk/FileService.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/ThumbnailService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentServiceTest.java
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library

Change RecordService tests to ignore broken tests
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
Labels: library

Change IHCService to Kotlin
  sdk-core/src/main/java/care/data4life/sdk/network/IHCService.java
  sdk-core/src/main/java/care/data4life/sdk/network/IHCService.kt
Labels: library

Introduce FhirAttachmentHelper wrapper
  sdk-core/src/main/java/care/data4life/sdk/model/SdkFhirAttachmentHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/FhirAttachmentHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/model/FhirAttachmentHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/FhirElementFactoryTest.kt
Labels: library

Introduce Attachment wrapper
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkAttachmentFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkFhir3Attachment.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/definitions/Attachment.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/AttachmentFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir3AttachmentTest.kt
Labels: library

Change AppData feature to own DataRecordClient and move it into own data package -> group by feature
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-core/src/main/java/care/data4life/sdk/call/CallContract.kt
  sdk-core/src/main/java/care/data4life/sdk/call/CallHandler.kt
  sdk-core/src/main/java/care/data4life/sdk/call/Callback.kt
  sdk-core/src/main/java/care/data4life/sdk/call/Record.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataContract.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataRecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataResource.kt
  sdk-core/src/main/java/care/data4life/sdk/network/IHCService.kt
  sdk-core/src/test/java/care/data4life/sdk/DataRecordClientTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library, sample-android

Change Meta to Kotlin
  sdk-core/src/main/java/care/data4life/sdk/model/Meta.java
  sdk-core/src/main/java/care/data4life/sdk/model/Meta.kt
Labels: library

Move FileService to attachment package
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/FileService.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/attachment/FileServiceTest.java
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library

Cleanup
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/FileService.kt
  sdk-core/src/main/java/care/data4life/sdk/call/Record.kt
Labels: library, sample-android

Add FHIR 4 Record Client
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library

Introduce Identifier wrapper
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkFhir3Identifier.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkIdentifierFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/definitions/Identifier.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir3IdentifierTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/IdentifierFactoryTest.kt
Labels: library

Add Service definition in RecordContract and add FHIR4 support to the RecordService
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataRecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Add remaining FHIR4 client API and implementation
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
Labels: library

Adjustments before hooking up into RecordService
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirResource.kt
  sdk-core/src/main/java/care/data4life/sdk/model/SdkFhirAttachmentHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/FhirAttachmentHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkAttachmentFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkFhir3Attachment.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkFhir3Identifier.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkIdentifierFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/definitions/Attachment.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/definitions/Identifier.kt
  sdk-core/src/test/java/care/data4life/sdk/model/FhirAttachmentHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/AttachmentFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir3AttachmentTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/IdentifierFactoryTest.kt
Labels: library

Introduce FhirDateValidator
  sdk-core/src/main/java/care/data4life/sdk/attachment/FhirDateValidator.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirResource.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/FhirDateValidationTest.kt
Labels: library

Make RecordService agnostic
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/fhirDateValidation.kt
  sdk-core/src/test/java/care/data4life/sdk/model/FhirElementFactoryTest.kt
Labels: library

Unkbreak LegacyClient & smaller Cleanups
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/fhirDateValidation.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/FhirDateValidationTest.kt
Labels: library

Add FileContract
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/FileContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/FileService.kt
Labels: library

FileServiceTest.java -> FileServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/FileServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/attachment/FileServiceTest.kt
Labels: library

Extend ThumbnailService
  sdk-core/src/main/java/care/data4life/sdk/attachment/ThumbnailContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/ThumbnailService.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/ThumbnailServiceTest.kt
Labels: library
