Repository d4l-data4life/hc-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-jvm

ToDo
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordEncryptionService.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/record/RecordEncryptionTest.kt
Labels: library

Change labels to split build and ci into separate labels
  .github/labels.yml
Labels: build

Add Fhir4 to FhirDateValidator
  sdk-core/src/main/java/care/data4life/sdk/attachment/FhirDateValidator.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/FhirDateValidationTest.kt
Labels: library

Add plugin
  build.gradle.kts
Labels: none

Change Dependency management and added GradlePlugins to define Gradle Plugin dependencies
  auth-android/build.gradle.kts
  auth-common/build.gradle.kts
  auth-jvm/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Dependency.kt
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/LibraryConfig.kt
  buildSrc/src/main/kotlin/Versions.kt
  crypto-android/build.gradle.kts
  crypto-common/build.gradle.kts
  crypto-jvm/build.gradle.kts
  sample-android/build.gradle.kts
  sample-jvm/build.gradle.kts
  sdk-android-test/build.gradle.kts
  sdk-android/build.gradle.kts
  sdk-core/build.gradle.kts
  sdk-ingestion/build.gradle.kts
  sdk-jvm/build.gradle.kts
  securestore-android/build.gradle.kts
  securestore-common/build.gradle.kts
  securestore-jvm/build.gradle.kts
Labels: dependencies, library, sample-android, sample-jvm

Change project versioning to depend on git tags using the jgitversion plugin
  auth-common/build.gradle.kts
  build.gradle.kts
  crypto-common/build.gradle.kts
  gradle/deploy-android-sdk.gradle
  gradle/deploy-android.gradle
  gradle/deploy-java.gradle
  sample-jvm/build.gradle.kts
  sdk-android/build.gradle.kts
  sdk-core/build.gradle.kts
  sdk-doc/build.gradle
  sdk-ingestion/build.gradle.kts
  sdk-jvm/build.gradle.kts
  securestore-common/build.gradle.kts
  securestore-jvm/build.gradle.kts
Labels: documentation, library, sample-jvm

Change deployment configuration to support our own maven-respository and added tasks to publish features, snapshots and releases
  build.gradle.kts
  gradle/deploy-android-sdk.gradle
  gradle/deploy-android.gradle
  gradle/deploy-java.gradle
Labels: none

Change the LibraryConfig to new format
  auth-android/build.gradle.kts
  buildSrc/src/main/kotlin/LibraryConfig.kt
  crypto-android/build.gradle.kts
  gradle/deploy-android-sdk.gradle
  gradle/deploy-android.gradle
  gradle/deploy-java.gradle
  sdk-android-test/build.gradle.kts
  sdk-android/build.gradle.kts
  securestore-android/build.gradle.kts
Labels: dependencies, library

Add ci setup for latest version, pull-requests and release
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Add feature branches to the pull-request validation
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Fix publish commit message
  build.gradle.kts
Labels: none

Fix publishSnapshot and publishRelease to start right target publication
  build.gradle.kts
Labels: none

Bump D4L FHIR SDK 1.0.0 -> 1.1.0 and D4L FHIR Helper SDK 1.4.0 -> 1.4.1
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation

Remove obsolete CI job -> it is replaced by the other more fine grained jobs
  .github/workflows/d4l-ci-kmp.yml
Labels: build

Add Fhir4DecryptedRecord
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilderImpl.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedR4Record.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTest.kt
Labels: library

Add Fhir4 Support to RecordFactory
  sdk-core/src/main/java/care/data4life/sdk/model/SdkRecordFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedFhir4Record.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordFactoryTest.kt
Labels: library

Remove Overdo in SdkFhirAttachmentHelper
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirResource.kt
  sdk-core/src/main/java/care/data4life/sdk/model/SdkFhirAttachmentHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/FhirAttachmentHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedFhir4Record.kt
  sdk-core/src/test/java/care/data4life/sdk/model/FhirAttachmentHelperTest.kt
Labels: library

Wire generic attachments partially into the RS
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/SdkFhirAttachmentHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/FhirAttachmentHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilderImpl.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkAttachmentFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkFhir3Attachment.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkFhir3Identifier.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkIdentifierFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/definitions/Attachment.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/definitions/Identifier.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/FhirAttachmentHelperTest.kt
Labels: library

Add generic Identifiers into RS
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/IdentifierFactoryTest.kt
Labels: library

Add LegacyDateValidator
  sdk-core/src/main/java/care/data4life/sdk/attachment/LegacyDateValidator.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirResource.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/LegacyDateValidationTest.kt
Labels: library

Hook Attchement in AttachmentService
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/definitions/Attachment.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentTmpTest.kt
Labels: library

Wire Attachments into RS and AS
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkFhir3Attachment.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir3AttachmentTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir3IdentifierTest.kt
Labels: library

Fix Record for FHIR 3 resource nullability issue by introducing ignoreErrors handler on Rx Single
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordTypes.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordTest.kt
Labels: library

Cleanup Typesytem
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/LegacyDateValidator.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilder.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecordGuard.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/DecryptedRecordBuilder.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/LimitGuard.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/HelperContract.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkAttachmentFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhir3Attachment.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhir3Identifier.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirAttachmentHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirElementFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkIdentifierFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperContract.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperFactoryContract.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/SdkFhir3Identifier.kt
  sdk-core/src/main/java/care/data4life/sdk/wrappers/definitions/Identifier.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/LegacyDateValidationTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/FhirAttachmentHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/FhirElementFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderMandatorySettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderOptionalSettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/LimitGuardTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/AttachmentFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir3AttachmentTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir3IdentifierTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/IdentifierFactoryTest.kt
Labels: library

Fix RecordServiceCreateRecordTest & FhirAttachmentHelperTest & FhirElementFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirAttachmentHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirElementFactoryTest.kt
Labels: library

Implement partially new TaggingService Interface
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirResource.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
Labels: library

Extend FhirElementFactory & add Fhir4Support
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirResource.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirElementFactory.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirElementFactoryTest.kt
Labels: library

Adjust FhirElementFactory & complete new TaggingService Interface Implementation
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirElementFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperContract.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
Labels: library

FhirServiceTest.java -> FhirServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirServiceTest.kt
Labels: library

Adjust TaggingService & Rewire it into RS
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
Labels: library

Add new FhirService implementation
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirParser.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperContract.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirParserTest.kt
Labels: library

Add Fhir4 wrappers
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhir4Attachment.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhir4Identifier.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir4AttachmentTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir4IdentifierTest.kt
Labels: library

Wire Fhir4 wrappers into Factories
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirResource.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkAttachmentFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkIdentifierFactory.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/AttachmentFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/IdentifierFactoryTest.kt
Labels: library

Add Fhir4 into FhirAttachmentHelper
  sdk-core/src/main/java/care/data4life/sdk/wrapper/HelperContract.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirAttachmentHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirAttachmentHelperTest.kt
Labels: library

Adjust FhirService
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirServiceTest.kt
Labels: library

Wire Fhir4 Support into RecordService
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/AppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/ModelVersion.java
  sdk-core/src/main/java/care/data4life/sdk/model/SdkRecordFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilder.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/AppDataRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderMandatorySettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/DecryptedAppDataRecordTest.kt
Labels: library

Undo ModelVersion change
  sdk-core/src/main/java/care/data4life/sdk/model/ModelVersion.java
Labels: library

Fix signatures
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordBuilder.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecordGuard.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordBuilderTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/LimitGuardTest.kt
Labels: library

Fixes & Unblock RecordTests.kt and extend it
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Test RecordService Entrypoints on create and update
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
library:
  - sdk-android/**/*
  - sdk-android-test/**/*
  - sdk-core/**/*
  - sdk-ingestion/**/*
  - sdk-jvm/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*
