Repository d4l-data4life/hc-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, android, jvm, ingestion, core, auth, crypto, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/care/data4life/gradle/core/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# SDK Clients
android:
  - sdk-android/**/*
  - sdk-android-test/**/*
jvm:
  - sdk-jvm/**/*
ingestion:
  - sdk-ingestion/**/*

# SDKs
core:
  - sdk-core/**/*
auth:
  - auth-android/**/*
  - auth-common/**/*
  - auth-jvm/**/*
crypto:
  - crypto-android/**/*
  - crypto-common/**/*
  - crypto-jvm/**/*

# Sample Apps
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

Bump AGP
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump Kotlin
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump Coroutines
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump Koin
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Remove HC Result
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump D4L Dependencies
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump DexCount
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump DownloadTask
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Bump Dokka
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Bump Groovy
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Bump OWASP
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Bm JApicamp
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Bump Jacoco
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Bump Android Dependencies
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump BouncyCastle
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump Tink
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump Moshi
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Bump Test utils
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Downgrade Groovy all
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Rollback dokka & japicmp
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Bump Android TargetSDK
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/care/data4life/gradle/core/config/AndroidConfig.kt
  buildSrc/src/main/kotlin/care/data4life/gradle/core/config/LibraryConfig.kt
Labels: dependencies, documentation

Bump Android Test utils
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: none

Adjust Android setup
  sample-android/build.gradle.kts
  sample-android/src/main/AndroidManifest.xml
  sdk-android-test/src/main/AndroidManifest.xml
  sdk-android/build.gradle.kts
Labels: android, sample-android

Bump Danger
  .github/workflows/d4l-ci-pull-request-precheck.yml
  Dangerfile.df.kts
Labels: build

Bump GSON
  buildSrc/build.gradle.kts
Labels: dependencies

Bump Dependency Update
  buildSrc/build.gradle.kts
Labels: dependencies

Bump Dependency Download
  buildSrc/build.gradle.kts
Labels: dependencies

Bump GitHub Hook
  buildSrc/build.gradle.kts
Labels: dependencies

Bump Spotless
  buildSrc/build.gradle.kts
Labels: dependencies

Bump KTLint
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/core/script/quality-spotless.gradle.kts
Labels: scripts, dependencies

Reduce Noise
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Insurance.kt
Labels: dependencies

Bump latest hc dependencies
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Fix local JavaVersion
  .java-version
Labels: none

Fix java version in validation workflow
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Fix Module Exclusions
  build.gradle.kts
  sample-android/build.gradle.kts
  sdk-android-test/build.gradle.kts
  sdk-android/build.gradle.kts
Labels: android, sample-android

Prepare Release of 1.16.0
  CHANGELOG.adoc
  DEVELOPING.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  docs/05_sdk_api.adoc
Labels: documentation

Fix AndroidX Test dependencies
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Dependency.kt
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
  sdk-android-test/build.gradle.kts
Labels: android

Fix Publishing
  sdk-android/build.gradle.kts
  sdk-core/build.gradle.kts
  sdk-ingestion/build.gradle.kts
  sdk-jvm/build.gradle.kts
Labels: android, jvm, ingestion, core

Fix deployment
  gradle/deploy-android-sdk.gradle
  gradle/deploy-android.gradle
  gradle/deploy-java.gradle
Labels: none

Fix groupId to avoid care.data4life.hc-sdk-kmp.hc-sdk-kmp
  buildSrc/src/main/kotlin/care/data4life/gradle/core/config/LibraryConfig.kt
Labels: dependencies
