Repository d4l-data4life/hc-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-jvm

Change SdkContract to Kotlin, extract legacy Java interface into SdkContractLegacy and Client is called LegacyClient
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
Labels: library

Added Kotlin BaseClient and moved legacy implementation into LegacyClient
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/AppModule.kt
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-core/src/main/java/care/data4life/sdk/LegacyClient.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library, sample-jvm

Change SDK contract to move Auth related calls to LegacyAuthClient
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-core/src/main/java/care/data4life/sdk/LegacyAuthClient.java
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library

Change CallHandler to Kotlin
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/call/CallHandler.java
  sdk-core/src/main/java/care/data4life/sdk/call/CallHandler.kt
Labels: library

Change Environment to Kotlin
  sdk-core/src/main/java/care/data4life/sdk/network/Environment.java
  sdk-core/src/main/java/care/data4life/sdk/network/Environment.kt
Labels: library

Change code review comments
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/page/LoginPage.kt
  sdk-android/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: library

Fix CI to trigger SDK-Android tests
  .github/workflows/d4l-ci-kmp.yml
Labels: build

Change CallHandler to remove unnecassary casts and removed !! by fixing the ErrorHandler interface
  sdk-core/src/main/java/care/data4life/sdk/D4LErrorHandler.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/call/CallHandler.kt
Labels: library

Add AppDataRecord and DecryptedAppDataRecord
  sdk-core/src/main/java/care/data4life/sdk/AppDataResource.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.java
  sdk-core/src/main/java/care/data4life/sdk/model/RecordBase.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.java
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkRecordBase.kt
  sdk-core/src/test/java/care/data4life/sdk/AppDataRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/DecryptedAppDataRecordTest.kt
Labels: library

Extend TagService
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.java
  sdk-core/src/test/java/care/data4life/sdk/TaggingServiceTest.java
Labels: library

Extend Record
  sdk-core/src/main/java/care/data4life/sdk/AppDataResource.kt
  sdk-core/src/main/java/care/data4life/sdk/model/EmptyRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.java
  sdk-core/src/main/java/care/data4life/sdk/model/RecordTypes.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordTest.kt
Labels: library

Extend DecryptedRecord
  sdk-core/src/main/java/care/data4life/sdk/AppDataResource.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.java
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkRecordBase.kt
Labels: library

Refactor RecordServiceTest#createRecord*
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
Labels: library

Wire Record with annotations into createRecord
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
Labels: library

Refactor RecordServiceTest#countRecords*
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Extend TagEncryptionService
  sdk-core/src/main/java/care/data4life/sdk/TagEncryptionService.java
  sdk-core/src/test/java/care/data4life/sdk/TagEncryptionServiceTest.java
Labels: library

Extend RecordService#countRecords
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Refactor RecordServiceTest#fetchRecords*
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
Labels: library

Extend RecordService#fetchRecords
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Refactor RecordServiceTest#updateRecord*
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Extend RecordService#updateRecord
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/main/java/care/data4life/sdk/model/Record.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Refactor Refactor RecordServiceTest#encrypt & RecordServiceTest#decrypt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
Labels: library

Extend encryptRecord and decryptRecord
  sdk-core/src/main/java/care/data4life/sdk/AppDataResource.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkRecordBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Remove secondary constructor in DecryptedRecord
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
Labels: library

Make ModelVersion mandatory
  sdk-core/src/main/java/care/data4life/sdk/AppDataResource.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkRecordBase.kt
Labels: library

Add RecordService#decryptAppDataRecord and RecordService#encryptAppDataRecord
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Add RecordService#createAppDataRecord
  sdk-core/src/main/java/care/data4life/sdk/AppDataResource.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/AppDataRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/DecryptedAppDataRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Add RecordService#fetchAppDataRecord and RecordService#fetchAppDataRecords
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
Labels: library

Add RecordService#updateAppDataRecord
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

Clean up
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/main/java/care/data4life/sdk/model/AppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/EmptyRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.java
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordTypes.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedAppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/model/AppDataRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/DecryptedAppDataRecordTest.kt
Labels: library

Change Record Interface
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/main/java/care/data4life/sdk/model/AppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/EmptyRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.java
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordTypes.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/AppDataRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordTest.kt
Labels: library

Change NetworkRecord definitions
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedAppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/DecryptedAppDataRecordTest.kt
Labels: library

Extend GitIgnore
  .gitignore
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedAppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
Labels: library

Use interface for AppData/Decrypted(AppData)Records methods
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
Labels: library

Clean up after Rebase
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/main/java/care/data4life/sdk/model/EmptyRecord.kt
Labels: library

TagEncryptionService.java -> TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/TagEncryptionService.java
  sdk-core/src/main/java/care/data4life/sdk/TagEncryptionService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/TagEncryptionServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/TagEncryptionServiceTest.kt
Labels: library

Record.java -> Record.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.java
  sdk-core/src/main/java/care/data4life/sdk/model/Record.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
Labels: library

Refactor RecordSerivces
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
Labels: library

RecordService.java -> RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

RecordServiceTest.java -> RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: library

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
library:
  - sdk-android/**/*
  - sdk-android-test/**/*
  - sdk-core/**/*
  - sdk-ingestion/**/*
  - sdk-jvm/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*
