Repository d4l-data4life/hc-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, android, jvm, ingestion, core, auth, crypto, sample-android, sample-jvm

Change according to review suggestions
  sdk-jvm/src/main/kotlin/care/data4life/sdk/UserIdExtractor.kt
Labels: jvm

Bump D4L Dependencies
  CHANGELOG.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Prepare Release of 1.17.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Fix versioning by rolling back plugin change
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/core/script/versioning.gradle.kts
Labels: scripts, dependencies

Change Gradle wrapper
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
Labels: none

Prepare Release of 1.17.1
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  gradlePlugin/core-dependency/src/main/kotlin/care/data4life/gradle/core/dependency/Version.kt
Labels: documentation

Fix update failing for PDF files because of missing preview
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
Labels: documentation, core

Remove edited trigger for pull request validation GitHub Action
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Change Auth documentation
  CHANGELOG.adoc
  docs/04_sdk_auth.adoc
  sample-android/src/main/java/care/data4life/sample/MainActivity.java
Labels: documentation, sample-android

Add migration information to changelog
  CHANGELOG.adoc
Labels: documentation

Add test to cover changes
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentIdentifierUtilsTest.kt
Labels: core

Fix code review findings
  CHANGELOG.adoc
  docs/04_sdk_auth.adoc
Labels: documentation

Prepare Release of 1.17.2
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/care/data4life/gradle/core/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# SDK Clients
android:
  - sdk-android/**/*
  - sdk-android-test/**/*
jvm:
  - sdk-jvm/**/*
ingestion:
  - sdk-ingestion/**/*

# SDKs
core:
  - sdk-core/**/*
auth:
  - auth-android/**/*
  - auth-common/**/*
  - auth-jvm/**/*
crypto:
  - crypto-android/**/*
  - crypto-common/**/*
  - crypto-jvm/**/*

# Sample Apps
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*
