Repository d4l-data4life/hc-sdk-kmp, pull requests merged in 2020-12, with the labels that each got.

#16 Add new FHIR library with R4 support
  .github/CODEOWNERS
  .idea/codeStyles/Project.xml
  .idea/compiler.xml
  CHANGELOG.adoc
  CHANGELOG.md
  README.adoc
  auth-android/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/Version.kt
  crypto-android/build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  sample-android/build.gradle.kts
  sample-android/src/main/java/care/data4life/sample/AttachmentPreviewActivity.java
  sample-android/src/main/java/care/data4life/sample/DocumentDetailsActivity.java
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sample-android/src/main/java/care/data4life/sample/FHIRModelFactory.java
  sample-android/src/main/java/care/data4life/sample/FHIRUtils.java
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/presentation/upload/UploadView.kt
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/util/ClientConfig.kt
  sdk-android-test/build.gradle.kts
  sdk-android/build.gradle.kts
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/test/java/care/data4life/sdk/AttachmentServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/test/util/MedicationBuilder.java
  sdk-core/src/test/java/care/data4life/sdk/test/util/ObservationBuilder.java
  sdk-core/src/test/java/care/data4life/sdk/test/util/QuestionnaireBuilder.java
  sdk-core/src/test/java/care/data4life/sdk/test/util/QuestionnaireResponseBuilder.java
  securestore-android/build.gradle.kts
Labels: enhancement

#17 Change code of conduct to Asciidoc
  CODE-OF-CONDUCT.adoc
Labels: documentation

#18 Change implementation to kotlin and house keeping
  .github/workflows/d4l-ci-kmp.yml
  buildSrc/src/main/kotlin/Dependency.kt
  buildSrc/src/main/kotlin/Version.kt
  gcloud-service-key-sdk.json.enc
  sample-android/src/main/java/care/data4life/sample/AttachmentPreviewActivity.java
  sample-android/src/main/java/care/data4life/sample/DocumentDetailsActivity.java
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/AppModule.kt
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/presentation/main/MultiMainView.kt
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/presentation/main/SingleMainView.kt
  sample-jvm/src/main/kotlin/care/data4life/sdk/sample/presentation/upload/UploadView.kt
  sdk-android-test/build.gradle.kts
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/BaseTestLogin.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/CrossSDKTest.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/page/LoginPage.kt
  sdk-android-test/src/androidTest/java/care/data4life/sdk/e2e/util/Auth2FAHelper.kt
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-android/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-core/src/main/java/care/data4life/sdk/D4LErrorHandler.java
  sdk-core/src/main/java/care/data4life/sdk/LegacyAuthClient.java
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/OAuthService.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-core/src/main/java/care/data4life/sdk/Task.java
  sdk-core/src/main/java/care/data4life/sdk/UserService.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/OAuthService.kt
  sdk-core/src/main/java/care/data4life/sdk/call/CallHandler.kt
  sdk-core/src/main/java/care/data4life/sdk/call/Task.kt
  sdk-core/src/main/java/care/data4life/sdk/listener/Callback.kt
  sdk-core/src/main/java/care/data4life/sdk/listener/ResultListener.kt
  sdk-core/src/main/java/care/data4life/sdk/model/EmptyRecord.java
  sdk-core/src/main/java/care/data4life/sdk/network/Environment.java
  sdk-core/src/main/java/care/data4life/sdk/network/Environment.kt
  sdk-core/src/test/java/care/data4life/sdk/ApiServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/TaskTest.java
  sdk-core/src/test/java/care/data4life/sdk/UserServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/auth/OAuthServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/call/CallHandlerTest.kt
  sdk-core/src/test/java/care/data4life/sdk/call/TaskTest.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-ingestion/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
Labels: enhancement

#22 [NAT-124] Add arbitrary appdata support - refactored
  .gitignore
  CHANGELOG.adoc
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sample-android/src/main/res/layout/activity_documents.xml
  sdk-core/src/docs/asciidoc/api.adoc
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-core/src/main/java/care/data4life/sdk/TagEncryptionService.java
  sdk-core/src/main/java/care/data4life/sdk/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.java
  sdk-core/src/main/java/care/data4life/sdk/TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/AppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/EmptyRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.java
  sdk-core/src/main/java/care/data4life/sdk/model/Record.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordTypes.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedAppDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.java
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/TagEncryptionServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/TagEncryptionServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/TaggingServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/TaggingServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/AppDataRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/DecryptedAppDataRecordTest.kt
Labels: documentation, enhancement, feature, library

#21 Change implementation from Java to Kotlin
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.java
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/FhirService.java
  sdk-core/src/main/java/care/data4life/sdk/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/FileService.java
  sdk-core/src/main/java/care/data4life/sdk/FileService.kt
  sdk-core/src/main/java/care/data4life/sdk/ImageResizer.kt
  sdk-core/src/main/java/care/data4life/sdk/NetworkConnectivityService.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/crypto/CommonKeyService.kt
  sdk-core/src/main/java/care/data4life/sdk/tags/TagHelper.java
  sdk-core/src/main/java/care/data4life/sdk/tags/TagHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/CryptoServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/FileServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/UserServiceTest.java
Labels: enhancement

#28 Bump FHIR libraries
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: bug, dependencies

#29 Remove obsolete CI job
  .github/workflows/d4l-ci-kmp.yml
Labels: ci

#31 Fix latest version ci job
  .github/workflows/d4l-ci-latest-version.yml
Labels: ci

#32 Pepare release of 1.9.0 Release Candidate 1
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/LibraryConfig.kt
Labels: documentation

#33 Fix release ci job
  .github/workflows/d4l-ci-publish-release.yml
Labels: ci

#34 Prepare release 1.9.0
  CHANGELOG.adoc
Labels: documentation

#35 Fix CI release job
  .github/workflows/d4l-ci-publish-release.yml
Labels: ci
