Repository d4l-data4life/hc-sdk-kmp, pull requests merged in 2020-10, with the labels that each got.

#4 Remove upload to codecov
  .github/workflows/d4l-ci-kmp.yml
Labels: enhancement

#5 Add jitpack maven repository to readme repo list
  README.adoc
  README.md
Labels: bug, documentation

#8 [NAT-322] Change Userservice getSessionToken
  CHANGELOG.md
  sdk-core/src/main/java/care/data4life/sdk/UserService.kt
  sdk-core/src/test/java/care/data4life/sdk/UserServiceTest.java
Labels: bug, enhancement
