Repository d4l-data4life/hc-sdk-kmp, pull requests merged in 2021-05, with the labels that each got.

#113 Fix DocumentUploadResponse and CommonKeyResponse
  sdk-core/src/main/java/care/data4life/sdk/network/model/CommonKeyResponse.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DocumentUploadResponse.kt
  sdk-core/src/test/java/care/data4life/sdk/network/CommonKeyResponseTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DocumentUploadResponseTest.kt
Labels: bug, core, documentation

#107 [SDK-548] Change UserId fetching in Clients
  sdk-android/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/UserService.kt
  sdk-core/src/test/java/care/data4life/sdk/BaseClientTest.kt
  sdk-ingestion/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
  sdk-jvm/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
Labels: android, core, enhancement, ingestion, jvm

#114 [SDK-575] Bump Moshi 1.12.0
  CHANGELOG.adoc
  auth-jvm/build.gradle.kts
  auth-jvm/src/main/java/care/data4life/auth/AuthState.kt
  auth-jvm/src/main/java/care/data4life/auth/TokenState.kt
  auth-jvm/src/test/kotlin/care/data4life/auth/AuthorizationApiTest.kt
  auth-jvm/src/test/kotlin/care/data4life/auth/test/util/ClientConfig.kt
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  ci.properties
  crypto-android/build.gradle.kts
  crypto-android/src/main/java/care/data4life/crypto/Json.kt
  crypto-common/src/main/kotlin/care/data4life/crypto/ExchangeKey.kt
  crypto-common/src/main/kotlin/care/data4life/crypto/GCKey.kt
  crypto-common/src/main/kotlin/care/data4life/crypto/GCSymmetricKey.kt
  crypto-common/src/main/kotlin/care/data4life/crypto/Json.kt
  crypto-common/src/main/kotlin/care/data4life/crypto/KeyType.kt
  crypto-common/src/main/kotlin/care/data4life/crypto/KeyVersion.kt
  crypto-jvm/build.gradle.kts
  crypto-jvm/src/main/java/care/data4life/crypto/GCKeyPair.kt
  crypto-jvm/src/main/java/care/data4life/crypto/Json.kt
  crypto-jvm/src/test/java/care/data4life/crypto/PemParserTest.kt
  gradle.properties
  sdk-android/build.gradle.kts
  sdk-core/build.gradle.kts
  sdk-core/src/main/java/care/data4life/sdk/network/model/CommonKeyResponse.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DocumentUploadResponse.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/EncryptedKey.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/EncryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/UserInfo.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/Version.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/VersionList.kt
  sdk-core/src/test/java/care/data4life/sdk/ApiServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/network/EncryptedRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/UserInfoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/VersionListTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/VersionTest.kt
  sdk-ingestion/build.gradle.kts
  sdk-ingestion/src/main/java/care/data4life/sdk/AccessTokenDecoder.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/D4LJwtPayload.kt
  sdk-jvm/build.gradle.kts
  securestore-android/build.gradle.kts
Labels: android, auth, bug, core, crypto, dependencies, documentation, ingestion, jvm, securestore

#110 [SDK-566] Change Module tests tag order
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceModuleTestFlowHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordModuleTest.kt
Labels: core, enhancement

#111 [SDK-564] Change Tags and Annotations
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/call/CallContract.kt
  sdk-core/src/main/java/care/data4life/sdk/call/Record.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataRecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/RecordCompatibilityService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/ModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordMapper.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedR4Record.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecordGuard.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/EncryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncryptionHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceDownloadAttachmentAndRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceModuleTestFlowHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirRecordClientTest.kt
  sdk-core/src/test/java/care/data4life/sdk/migration/RecordCompatibilityServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordMapperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFake.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFakeTest.kt
Labels: core, enhancement

#112 [SDK-563] Change Tagging tests
  sdk-core/src/test/java/care/data4life/sdk/tag/TagEncryptionHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagEncryptionServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
Labels: core, enhancement

#117 [SDK-574] Change Versioning
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/auth/AuthContract.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/UserService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/VersionList.kt
  sdk-core/src/test/java/care/data4life/sdk/auth/UserServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/VersionListTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/VersionTest.kt
Labels: android, core, enhancement

#118 Bump FHIR-SDK 1.3.1 -> 1.4.0
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: bug, dependencies, documentation

#119 Prepare Release 1.11.0
  CHANGELOG.adoc
  README.adoc
  buildSrc/src/main/kotlin/LibraryConfig.kt
Labels: dependencies, documentation

#120 [SDK-574] Change NetworkModelContract - move DecryptedRecord definition
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/ModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/model/RecordMapper.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordMapper.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedR4Record.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkDateTimeFormatter.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentDownloadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUpdateTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUploadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordMapperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperTest.kt
Labels: core, enhancement

#121 [SDK-563] Change NetworkModelTests
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecordGuard.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/CommonKeyResponseTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/DocumentUploadResponseTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/EncryptedKeyTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/EncryptedRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/LimitGuardTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/UserInfoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/VersionTest.kt
Labels: core, enhancement

#122 [SDK-574] Change DataResource
  sdk-core/src/main/java/care/data4life/sdk/data/DataContract.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataResource.kt
  sdk-core/src/test/java/care/data4life/sdk/data/DataResourceTest.kt
Labels: core, enhancement

#123 [SDK-574] Add ResourceEncryptionService
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordMapper.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedDataRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedR4Record.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/DecryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/EncryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/RecordEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordMapperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperMandatorySettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperOptionalSettersTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DecryptedRecordMapperTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/RecordEncryptionServiceDecryptionTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/RecordEncryptionServiceEncryptionTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/RecordEncryptionServiceTest.kt
Labels: core, enhancement

#130 Change publishing
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
  gradle/deploy-android-sdk.gradle
  gradle/deploy-android.gradle
  gradle/deploy-java.gradle
Labels: dependencies, enhancement

#125 [SDK-563] Add Environment tests
  sdk-core/src/main/java/care/data4life/sdk/network/Environment.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/test/java/care/data4life/sdk/network/EnvironmentTest.kt
Labels: core, enhancement

#126 [SDK-566] Add ApiService unit tests
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/IHCService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceTest.kt
Labels: core, enhancement

#128 [SDK-574] Change naming convention for CryptoServices
  sdk-android/src/androidTest/java/care/data4life/sdk/fhir/ResourceCryptoServiceInstrumentedTest.java
  sdk-android/src/androidTest/java/care/data4life/sdk/tag/TagCryptoServiceInstrumentedTest.java
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/crypto/CryptoContract.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/ResourceCryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/RecordCompatibilityService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/RecordCryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagCryptoHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagCryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentDownloadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentIdentifierUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUpdateTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUploadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceDownloadAttachmentAndRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/ResourceCryptoServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/migration/RecordCompatibilityServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/RecordCryptoServiceDecryptionTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/RecordCryptoServiceEncryptionTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/RecordCryptoServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagCryptoHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagCryptoServiceTest.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: android, core, enhancement, ingestion, jvm

#131 [SDK-562] Change ApiService to Kotlin
  auth-android/src/main/java/care/data4life/auth/AuthorizationService.kt
  auth-common/src/main/kotlin/care/data4life/auth/AuthorizationContract.kt
  auth-common/src/main/kotlin/care/data4life/auth/AuthorizationService.kt
  auth-jvm/src/main/java/care/data4life/auth/AuthorizationService.kt
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/build.gradle.kts
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/test/java/care/data4life/sdk/ApiServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/attachment/FileServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/auth/UserServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceTest.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: android, auth, core, enhancement, ingestion, jvm

#132 [SDK-566] Change ApiService module tests
  ci.properties
  gradle.properties
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/IHCService.kt
  sdk-core/src/test/java/care/data4life/sdk/ApiServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/EncryptedRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/GenericTestDataProvider.kt
Labels: android, auth, core, enhancement, ingestion, jvm

#144 Bump Android Gradle Plugin 4.1.3 -> 4.2.1
  CHANGELOG.adoc
  README.adoc
  auth-common/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  crypto-common/build.gradle.kts
  securestore-common/build.gradle.kts
Labels: auth, crypto, dependencies, documentation, securestore

#133 [SDK-445] Change client version header
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptors/VersionInterceptor.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptors/VersionInterceptorTest.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: android, auth, core, enhancement, ingestion, jvm

#145 [SDK-572] Add JS Legacy Encoding
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/CompatibilityEncoder.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/MigrationContract.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/RecordCompatibilityService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/SearchTagsBuilder.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagConverter.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagCryptoHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagCryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncoding.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/URLEncoding.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceModuleTestFlowHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/migration/CompatibilityEncoderTest.kt
  sdk-core/src/test/java/care/data4life/sdk/migration/RecordCompatibilityServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/SearchTagsBuilderTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagConverterTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagCryptoServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagEncodingTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/GenericTestDataProvider.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/JSLegacyTagConverter.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/JSLegacyTagConverterTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/URLEncodingTest.kt
Labels: core, documentation, feature

#143 [SDK-599] Fix updateData checks
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentGuardian.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentHasher.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentDownloadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUpdateTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUploadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentAttachmentGuardianTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentHasherTest.kt
  sdk-core/src/test/resources/common/documentReference-sdk-599-template.json
  sdk-core/src/test/resources/fhir3/document-reference-sdk-599.json
Labels: bug, core, documentation

#147 Prepare Release 1.12.0
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/LibraryConfig.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
Labels: core, dependencies, documentation

#135 [SDK-574] Add Interceptors
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-android/src/main/java/care/data4life/sdk/NetworkConnectivityServiceAndroid.java
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptor/BasicAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptor/InterceptorHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptor/LoggingInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptor/OAuthAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptor/OAuthFetchTokenAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptor/OAuthRetryTokenAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptor/RetryInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptor/StaticAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/interceptor/VersionInterceptor.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptor/BasicAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptor/InterceptorHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptor/LoggingInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptor/OAuthAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptor/OAuthFetchTokenAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptor/OAuthRetryAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptor/RetryInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptor/StaticAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/interceptor/VersionInterceptorTest.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: android, auth, core, enhancement, ingestion, jvm

#136 [SDK-574] Add CertificatePinner
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/CertificatePinnerFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/BasicAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/InterceptorHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/LoggingInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/OAuthAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/OAuthFetchTokenAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/OAuthRetryTokenAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/RetryInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/StaticAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/VersionInterceptor.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/CertificatePinnerFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/BasicAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/InterceptorHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/LoggingInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/OAuthAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/OAuthFetchTokenAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/OAuthRetryAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/RetryInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/StaticAuthorizationInterceptorTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/VersionInterceptorTest.kt
Labels: android, auth, core, enhancement, ingestion, jvm

#137 [SDK-574] Add ClientFactory
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/ClientFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/BasicAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/StaticAuthorizationInterceptor.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/ClientFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/interceptor/StaticAuthorizationInterceptorTest.kt
Labels: android, auth, core, enhancement, ingestion, jvm

#146 [SDK-445] Add SDKConfig
  buildSrc/src/main/kotlin/LibraryConfig.kt
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/build.gradle.kts
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
  sdk-core/src/main/resources/templates/SDKConfig.tmpl
  sdk-ingestion/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: android, core, dependencies, enhancement, ingestion, jvm

#138 [SDK-574] Add IHCServiceFactory
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/IHCServiceFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/BasicAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/LoggingInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/OAuthAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/RetryInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/StaticAuthorizationInterceptor.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/VersionInterceptor.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/IHCServiceFactoryTest.kt
Labels: android, auth, core, ingestion, jvm

#139 [SDK-574] Change ApiService
  CHANGELOG.adoc
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/CertificatePinnerFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/ClientFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/SearchTagsBuilder.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/interceptor/VersionInterceptor.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/SearchTagsBuilderTest.kt
Labels: android, auth, core, documentation, enhancement, ingestion, jvm

#140 [SDK-575] Bump OkHTTP
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: android, auth, core, dependencies, documentation, ingestion, jvm

#149 Change IHCService to HealthCloudApi
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
  sdk-core/src/main/java/care/data4life/sdk/network/ApiService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/HealthCloudApi.kt
  sdk-core/src/main/java/care/data4life/sdk/network/NetworkingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/util/HealthCloudApiFactory.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/ApiServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/util/HealthCloudApiFactoryTest.kt
Labels: core, dependencies, documentation, enhancement

#150 [SDK-575] Bump FHIR-SDK 1.4.0 -> 1.5.0
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
Labels: core, dependencies, documentation, enhancement

#151 [SDK-566] Change resource client tests
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
  sdk-core/src/test/java/care/data4life/sdk/data/DataRecordClientTest.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirRecordClientTest.kt
Labels: core, enhancement

#152 [SDK-574] Add count for arbitrary data
  CHANGELOG.adoc
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataRecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/data/DataRecordClientTest.kt
Labels: core, documentation, feature

#127 [SDK-230] Change secure store and crypto service tests into Kotlin
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
  sdk-core/src/test/java/care/data4life/sdk/CryptoSecureStoreTest.java
  sdk-core/src/test/java/care/data4life/sdk/CryptoSecureStoreTest.kt
  sdk-core/src/test/java/care/data4life/sdk/CryptoServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/CryptoServiceTest.kt
Labels: core, enhancement

#153 [SDK-563] Change ResourceCryptoService tests
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/ResourceCryptoServiceTest.kt
Labels: core, enhancement

#154 [SDK-574] Change ResourceCryptoService
  CHANGELOG.adoc
  sdk-android/src/androidTest/java/care/data4life/sdk/fhir/ResourceCryptoServiceInstrumentedTest.java
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/crypto/CryptoContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/ResourceCryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/RecordCryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirParser.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperContract.kt
  sdk-core/src/test/java/care/data4life/sdk/CryptoServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceDownloadAttachmentAndRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceModuleTestFlowHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/ResourceCryptoServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/model/RecordCryptoServiceEncryptionTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFake.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFakeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirParserTest.kt
Labels: android, core, documentation, enhancement

#156 [SDK-563] Add AuthClient tests
  sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt
  sdk-core/src/test/java/care/data4life/sdk/auth/AuthClientTest.kt
  sdk-core/src/test/java/care/data4life/sdk/data/DataRecordClientTest.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirRecordClientTest.kt
Labels: core, enhancement
