Repository d4l-data4life/hc-sdk-kmp, pull requests merged in 2021-03, with the labels that each got.

#58 [SDK-525] Add compatibility layer for legacy Tags and Annotation
  .idea/codeStyles/Project.xml
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/MigrationContract.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/RecordCompatibilityService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/DecryptedRecordMapper.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/EncryptedKey.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/definitions/NetworkRecordTypes.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncryptionHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/migration/RecordCompatibilityServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/EncryptedKeyTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagEncryptionHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagEncryptionServiceTest.kt
Labels: bug, core, documentation

#62 Prepare release 1.9.2
  CHANGELOG.adoc
  README.adoc
Labels: documentation

#61 Add DateTimeFormatter Wrapper
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/call/CallContract.kt
  sdk-core/src/main/java/care/data4life/sdk/call/Record.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Meta.kt
  sdk-core/src/main/java/care/data4life/sdk/model/ModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/model/Record.kt
  sdk-core/src/main/java/care/data4life/sdk/model/RecordMapper.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/model/definitions/RecordTypes.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkDateTimeFormatter.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/model/RecordMapperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/DateTimeFormatterTest.kt
Labels: core, documentation, enhancement

#63 Refactor RecordServiceAdditionalResourceTypeTest
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/resources/common/patient-nulled-attachment.json
  sdk-core/src/test/resources/common/patient.json
  sdk-core/src/test/resources/common/questionnaireResponse-nulled-attachment.json
  sdk-core/src/test/resources/common/questionnaireResponse.json
  sdk-core/src/test/resources/fhir3/medication-nulled-attachment.json
  sdk-core/src/test/resources/fhir3/medication.json
  sdk-core/src/test/resources/fhir3/observation-nulled-attachment.json
  sdk-core/src/test/resources/fhir3/observation-with-component-nulled-attachment.json
  sdk-core/src/test/resources/fhir3/observation-with-component.json
  sdk-core/src/test/resources/fhir3/observation.json
  sdk-core/src/test/resources/fhir3/questionnaire-nulled-attachment.json
  sdk-core/src/test/resources/fhir3/questionnaire.json
  sdk-core/src/test/resources/fhir4/questionnaire-nulled-attachment.json
  sdk-core/src/test/resources/fhir4/questionnaire.json
Labels: core, enhancement
