Repository d4l-data4life/hc-sdk-kmp, pull requests merged in 2021-04, with the labels that each got.

#75 [NAT-626]Fix api search and count api calls
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/migration/RecordCompatibilityService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/IHCService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/migration/RecordCompatibilityServiceTest.kt
Labels: bug, core, documentation

#64 Refactor RecordServiceCreationTest
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
Labels: core, enhancement

#65 Refactor RecordServiceUpdateRecordTest
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: core, enhancement

#67 Pull out AttachmentUtil tests from RecordServiceTest
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
Labels: bug, core, documentation, enhancement

#68 Pull out AttachmentIdentifier tests from RecordServiceTest
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentIdentifierUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
Labels: core, documentation, enhancement

#69 Refactor RecordServiceTest
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
Labels: core, documentation, enhancement

#70 Pull RecordServiceAttachmentDownloadsTest out of RecordServiceUploadsUpdatesDownloadsTest
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentDownloadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
Labels: bug, core, documentation, enhancement

#71 Pull RecordServiceAttachmentUpdateTest out of RecordServiceUploadsUpdatesDownloadsTest
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUpdateTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
Labels: core, documentation, enhancement

#73 Refactor RecordServiceCryptoTest
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
Labels: core, enhancement

#74 Refactor RecordServiceFetchRecordsTest
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
Labels: core, enhancement

#72 Pull RecordServiceAttachmentUploadTest out of RecordServiceUploadsUpdatesDownloadsTest
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUploadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUploadsUpdatesDownloadsTest.kt
Labels: core, documentation, enhancement

#76 Wrap up RecordServiceTest refactoring
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentDownloadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentIdentifierUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUpdateTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUploadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestProvider.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: core, enhancement

#81 Remove MimeTypeTest
  sdk-core/src/test/java/care/data4life/sdk/model/MimeTypeTest.java
Labels: core, enhancement

#78 ModelVersion to Kotlin
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/model/ModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/model/ModelVersion.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/model/ModelVersionTest.kt
Labels: core, documentation, enhancement

#84 Update HC FHIR library
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirElementFactory.kt
Labels: dependencies, enhancement

#85 Prepare release 1.10.0
  CHANGELOG.adoc
  README.adoc
  buildSrc/src/main/kotlin/LibraryConfig.kt
Labels: core, dependencies, documentation

#82 DocumentUploadResponse.java to Kotlin
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/network/model/DocumentUploadResponse.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/test/java/care/data4life/sdk/network/DocumentUploadResponseTest.kt
Labels: core, documentation, enhancement

#83 CryptoSecureStore.java to Kotlin
  CHANGELOG.adoc
  crypto-jvm/src/main/java/care/data4life/crypto/PemParser.kt
  sdk-core/src/main/java/care/data4life/sdk/CryptoSecureStore.java
  sdk-core/src/main/java/care/data4life/sdk/CryptoSecureStore.kt
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/crypto/CommonKeyService.kt
  sdk-core/src/main/java/care/data4life/sdk/crypto/CryptoContract.kt
  sdk-core/src/main/java/care/data4life/sdk/crypto/KeyFactory.kt
Labels: core, crypto, documentation, enhancement

#87 Add interface for the CryptoService
  sdk-core/src/main/java/care/data4life/sdk/CryptoSecureStore.kt
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/crypto/CryptoContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/RecordCompatibilityService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncryptionService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentDownloadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentIdentifierUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUpdateTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUploadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreateRecordTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordTest.kt
Labels: core, crypto, documentation, enhancement

#88 Add CryptoService Fake
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFake.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFakeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/GenericTestDataProvider.kt
Labels: core, crypto, documentation

#89 Rewrite RecordService#createRecord module test
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceModuleTestFlowHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFake.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/GenericTestDataProvider.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/TestResourceHelper.kt
  sdk-core/src/test/resources/common/documentReference-with-attachment-template.json
  sdk-core/src/test/resources/common/documentReference-without-attachment-template.json
Labels: core, crypto, documentation, enhancement

#94 Add danger
  .github/workflows/d4l-ci-pull-request-precheck.yml
  Dangerfile.df.kts
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/scripts/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
Labels: build, dependencies

#92 [SDK-560] Change RecordServiceFetchRecordsIntegration
  sdk-core/src/main/java/care/data4life/sdk/migration/RecordCompatibilityService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceModuleTestFlowHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/migration/RecordCompatibilityServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFake.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/GenericTestDataProvider.kt
Labels: core, enhancement

#93 [SDK-560] Change RecordServiceCountRecordsIntegration
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
Labels: core, enhancement

#102 Fix code style
  .idea/codeStyles/Project.xml
  .idea/inspectionProfiles/ktlint.xml
  .idea/inspectionProfiles/profiles_settings.xml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/scripts/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
Labels: dependencies

#95 [SDK-560] Change RecordServiceIntegration
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceDownloadAttachmentAndRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegrationBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordModuleTest.kt
Labels: core, enhancement

#97 [SDK-563] Change Wrapper tests
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirParser.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/TestResourceHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/AttachmentFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/DateTimeFormatterTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir3AttachmentTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir3IdentifierTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir4AttachmentTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/Fhir4IdentifierTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirAttachmentHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirElementFactoryTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirParserTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/IdentifierFactoryTest.kt
Labels: core, enhancement

#98 [SDK-564] Add UserService interface
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/AuthClient.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/AuthContract.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/UserService.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataRecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirRecordClientTest.kt
Labels: core, enhancement

#99 [SDK-548] Add UserId to Client
  CHANGELOG.adoc
  sdk-android/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
  sdk-core/src/main/java/care/data4life/sdk/BaseClient.kt
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/AuthContract.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/UserService.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataRecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-core/src/test/java/care/data4life/sdk/BaseClientTest.kt
  sdk-core/src/test/java/care/data4life/sdk/auth/UserServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirRecordClientTest.kt
  sdk-ingestion/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
  sdk-jvm/src/test/java/care/data4life/sdk/Data4LifeClientTest.java
Labels: android, core, documentation, feature, ingestion, jvm

#100 [SDK-564] Add FileService Interface
  sdk-android/src/androidTest/java/care/data4life/sdk/AndroidImageResizerTest.java
  sdk-android/src/main/java/care/data4life/sdk/AndroidImageResizer.java
  sdk-core/src/main/java/care/data4life/sdk/ImageResizer.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentContract.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/AttachmentService.kt
  sdk-core/src/main/java/care/data4life/sdk/attachment/FileService.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/UserService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceDownloadAttachmentAndRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceModuleTestFlowHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/attachment/AttachmentServiceTest.kt
  sdk-ingestion/src/main/java/care/data4life/sdk/JvmImageResizer.java
  sdk-ingestion/src/test/java/care/data4life/sdk/JvmImageResizerTest.java
  sdk-jvm/src/main/java/care/data4life/sdk/JvmImageResizer.java
  sdk-jvm/src/test/java/care/data4life/sdk/JvmImageResizerTest.java
Labels: android, core, enhancement, ingestion, jvm

#101 [SDK-566] Change module tests - cover FileService
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceDownloadAttachmentAndRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceModuleTestFlowHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFake.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFakeTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/GenericTestDataProvider.kt
Labels: android, core, enhancement, ingestion, jvm

#104 [SDK-565] Add FHIR4 support for download Attachment in the RecordService
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentDownloadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentIdentifierUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUpdateTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUploadTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceDownloadAttachmentAndRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
Labels: core, documentation, feature

#109 Fix Danger workflow
  .github/workflows/d4l-ci-pull-request-precheck.yml
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
Labels: build, dependencies

#106 [SDK-565] Add download Fhir4 support to clients
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirRecordClientTest.kt
Labels: core, documentation, feature

#115 Bump updates
  CHANGELOG.adoc
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/AndroidConfig.kt
  buildSrc/src/main/kotlin/LibraryConfig.kt
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  sdk-android/src/test/java/care/data4life/sdk/crypto/ExchangeKeyFactoryTest.java
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
Labels: android, core, dependencies, documentation
