Repository d4l-data4life/hc-sdk-kmp, pull requests merged in 2021-01, with the labels that each got.

#36 Add git version as precompiled Gradle Kotlin Script
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
Labels: build, enhancement

#19 Add CI workflows to configure labels and label pull-requests
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/d4l-ci-label-configuration.yml
  .github/workflows/d4l-ci-pr-labeler.yml
Labels: build, enhancement

#38 Fix api task exposure
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/auth/AuthClient.kt
  sdk-core/src/main/java/care/data4life/sdk/data/DataRecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
Labels: bug, core, documentation, enhancement

#39 Fix checkRestrictions
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
  sdk-core/src/test/resources/fhir4/s4h-patient-example.patient.json
Labels: bug, core, documentation

#37 Fix Logger
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/call/CallHandler.kt
  sdk-core/src/test/java/care/data4life/sdk/call/CallHandlerTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/util/TestRxSchedulerRule.kt
Labels: core, documentation

#40 Add codeowner file and set it to PHDC Core KMP team
  .github/CODEOWNERS
Labels: build

#42 Fix visibility of ImageResizer
  sdk-core/src/main/java/care/data4life/sdk/ImageResizer.kt
Labels: core

#41 Fix versioning for releases and improve pull-request job
  .github/workflows/d4l-ci-pull-request-validation.yml
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
  gradle.properties
Labels: build, dependencies

#44 Bump HC-FHIR-SDK 1.1.0 -> 1.2.1
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  sample-android/build.gradle.kts
  sample-jvm/build.gradle.kts
  sdk-android-test/build.gradle.kts
  sdk-android/build.gradle.kts
  sdk-core/build.gradle.kts
  sdk-ingestion/build.gradle.kts
  sdk-jvm/build.gradle.kts
Labels: android, core, dependencies, documentation, ingestion, jvm, sample-android, sample-jvm

#46 Prepare release v1.9.1
  CHANGELOG.adoc
  README.adoc
Labels: documentation

#47 Fix Release CI job
  .github/workflows/d4l-ci-publish-release.yml
Labels: build

#48 Fix versioning for ticket branches
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
Labels: dependencies
