Repository d4l-data4life/hc-sdk-kmp, pull requests merged in 2021-02, with the labels that each got.

#49 [NAT-496] Apply URI encoding on annotations and tags
  CHANGELOG.adoc
  sdk-android/src/test/java/care/data4life/sdk/tag/TagHelperTest.java
  sdk-core/src/docs/asciidoc/exceptions.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/lang/DataValidationException.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncryptionHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagEncryptionService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TagHelper.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCryptoTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegrationBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTestBase.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagEncryptionHelperTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TagEncryptionServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
Labels: android, core, documentation

#50 Change EncryptedRecord, EncryptedKey and EncryptedKeyAdapter to Kotlin
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/ApiService.java
  sdk-core/src/main/java/care/data4life/sdk/CryptoService.kt
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/EncryptedKey.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/EncryptedRecord.java
  sdk-core/src/main/java/care/data4life/sdk/network/model/EncryptedRecord.kt
  sdk-core/src/main/java/care/data4life/sdk/network/model/NetworkModelContract.kt
  sdk-core/src/main/java/care/data4life/sdk/network/typeadapter/EncryptedKeyTypeAdapter.kt
  sdk-core/src/test/java/care/data4life/sdk/CryptoServiceTest.java
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/EncryptedKeyTest.kt
  sdk-core/src/test/java/care/data4life/sdk/network/EncryptedRecordTest.kt
Labels: core, documentation

#51 Change RecordService#countRecords tests
  sdk-core/build.gradle.kts
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
Labels: core, enhancement

#53 [NAT-532] Fix recordService deleteRecords parameter mixup
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceTest.kt
Labels: bug, core, documentation

#54 [NAT-532] Fix RecordService#fetchRecords (legacy)
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/LegacyDataClient.java
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
Labels: bug, core, documentation, enhancement

#56 Change readme and add matching fallbacks description for Android
  CHANGELOG.adoc
  README.adoc
  assets/images/d4l-logo.svg
Labels: documentation, enhancement

#55 [NAT-517] Change TaggingService for FHIR version support
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirResource.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirElementFactory.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/WrapperContract.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirElementFactoryTest.kt
Labels: core, documentation, enhancement, feature

#59 [NAT-548] Fix NullPointerException for DomainResource
  CHANGELOG.adoc
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/wrapper/FhirElementFactoryTest.kt
Labels: bug, core, documentation, sample-android

#60 Fix date formatting on fetch/search
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
Labels: bug, core, documentation

#57 [SDK-523] Add countRecords support for Fhir4
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/Fhir4RecordClient.kt
  sdk-core/src/main/java/care/data4life/sdk/fhir/FhirService.kt
  sdk-core/src/main/java/care/data4life/sdk/record/RecordContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingContract.kt
  sdk-core/src/main/java/care/data4life/sdk/tag/TaggingService.kt
  sdk-core/src/main/java/care/data4life/sdk/wrapper/SdkFhirParser.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceIntegration.kt
  sdk-core/src/test/java/care/data4life/sdk/fhir/FhirRecordClientTest.kt
  sdk-core/src/test/java/care/data4life/sdk/tag/TaggingServiceTest.kt
Labels: bug, core, documentation, enhancement, feature, sample-android
