Repository d4l-data4life/hc-sdk-kmp, pull requests merged in 2021-08, with the labels that each got.

#182 Change data restriction error
  CHANGELOG.adoc
  README.adoc
  sample-android/src/main/java/care/data4life/sample/DocumentsActivity.java
  sample-android/src/main/java/care/data4life/sample/FHIRUtils.java
  sdk-android/build.gradle.kts
  sdk-android/src/androidTest/java/care/data4life/sdk/fhir/ResourceCryptoServiceInstrumentedTest.java
  sdk-android/src/androidTest/java/care/data4life/sdk/test/util/DocumentReferenceFactory.java
  sdk-android/src/main/java/care/data4life/sdk/Data4LifeClient.java
  sdk-core/src/docs/asciidoc/api.adoc
  sdk-core/src/main/java/care/data4life/sdk/RecordService.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContract.kt
  sdk-core/src/main/java/care/data4life/sdk/SdkContractLegacy.java
  sdk-core/src/main/java/care/data4life/sdk/lang/DataValidationException.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAdditionalResourceTypeModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceAttachmentUtilsTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCreationRecordModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceUpdateRecordModuleTest.kt
  sdk-jvm/src/main/java/care/data4life/sdk/Data4LifeClient.java
Labels: documentation, build, sample-jvm, android, ingestion, jvm, sample-android, dependencies, core, crypto, auth

#177 Change README
  README.adoc
  assets/images/badge-license.svg
  assets/images/badge-platform-support.svg
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  badge-release-latest.svg
Labels: documentation

#184 Change codewoner to phdc-core
  .github/CODEOWNERS
Labels: build

#178 [SDK-633] Add iOS legacy tags
  CHANGELOG.adoc
  sdk-core/src/main/java/care/data4life/sdk/migration/CompatibilityEncoder.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/MigrationInternalContract.kt
  sdk-core/src/main/java/care/data4life/sdk/migration/RecordCompatibilityService.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceCountRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceFetchRecordsModuleTest.kt
  sdk-core/src/test/java/care/data4life/sdk/RecordServiceModuleTestFlowHelper.kt
  sdk-core/src/test/java/care/data4life/sdk/migration/CompatibilityEncoderTest.kt
  sdk-core/src/test/java/care/data4life/sdk/migration/RecordCompatibilityServiceTest.kt
  sdk-core/src/test/java/care/data4life/sdk/test/fake/CryptoServiceFake.kt
Labels: documentation, feature, core

#187 Prepare Release 1.15.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  badge-release-latest.svg
Labels: documentation
